Day_14/__pycache__/game_data.cpython-38.pyc
/!Readme.txt
Day_15/Coffee Machine Program Requirements.pdf
Day_15/__pycache__/data.cpython-38.pyc
Day_16/Coffee Machine Program Requirements.pdf
.vscode/
.gitignore
send_email.py
src
Day_xx/
__pycache__/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
test.py
test.ipynb
.DS_Store
poetry.lock
