<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/login" method="POST">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>

        <label for="passd">Password</label>
        <input type="password" name="password" id="passwd" required>
        <input type="submit" name="OK">
    </form>
</body>

</html>