<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Contacts</title>
</head>

<body>
    <h3>Form for testing purposes</h3>
    <hr noshade="1">
    <form action="">
        <label>Your name:</label>
        <input type="text">
        <input type="submit">
    </form>
</body>


</html>